*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Etape 1 style start */
.card{
    border-radius: 12px;
    line-height: 0.5rem;
}
.displayed{
     border: 3px solid #0000FF; 
    box-shadow: 0 0 15px rgba(25, 135, 84, 0.6);
    transform: scale(1.08);
    transition: 0.2s;
    
}
/* .btn{
    opacity: 0.2;
    
} */
h1{
    text-transform: uppercase;
    letter-spacing: 0.06em;
    color: #0000FF;
    font-size: 42px;
}
h3{
    font-size: 30px;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    margin: 3rem 0;
}

/* page2 style */
#page2{
    display: none;
}
#event-content{
    width: 50%;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 12px;
    box-shadow: 2px 3px 10px rgb(95, 95, 169);
    padding: 1rem;
}
#counter{
    text-align: center;
}
#counter #nombre{
    font-weight: bold;
    font-size: 20px;
    padding: 0 2rem;
}
.alert-danger{
    display: none;
}
.alert {
    /* Spacing and Dimensions */
    padding: 15px 20px; /* Top/Bottom and Left/Right Padding */
    margin: 20px 0;    /* Space above and below the alert */
    width: 90%;        /* Make it take up most of the width */
    max-width: 600px;  /* Stop it from getting too wide on large screens */
    
    /* Box Appearance */
    border: 1px solid; /* A simple border */
    border-radius: 4px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

/* page 3 style start */
#page3{
    display:none;
}
#content{
    display: flex;
    justify-content: space-around;
    box-shadow:2px 3px 10px #87CEEB ;
    border-radius: 12px;
    padding: 20px 0;
    overflow: hidden;
     position: relative;
     
}
#content-form::before{
    content: "";
    width: 4px;
    height: 100%;
    background-color: #0000FF;
    position: absolute;
    left: calc(50% - 2px);
    
}
#participant ul{
    padding: 20px ;
    border-radius: 12px;
    list-style-type: none;
    width: 100%;
    margin: 1rem auto;
    box-shadow: 2px 3px 10px #87CEEB ;
    line-height: 30px;
    position: relative;
}
#participant ul li{
    font-weight: 700;
}
#participant ul button{
    position: absolute;
    right: 10px;
    bottom: 5px;
    

    
}
.mb-3 label{
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 20px;
    letter-spacing: 0.08em;
}

@media(max-width:686px){
    #btn_page1{
        width: 100%;
    }
    h1{
        
        text-transform: uppercase;
        text-align: center;
    }
    h3{
        font-size: 20px;
        letter-spacing: 0.3rem;
        text-transform: uppercase;
        margin: 1rem 0;
        text-align: center;
    }
}